body {
    background: rgb(210, 240, 240);
}

.container {
    max-width: 500px;
}

input[type=text], input[type=text]:focus {
    color:ghostwhite;
    border:none;
    background-color: rgba(0, 32, 36, 0.068);
}

.todos li {
    background-color:rgb(154, 241, 233) ;
}

.delete {
    cursor:pointer;
}

.delete:hover {
    text-shadow: 1px 1px 1px #df4759;
}

.filtered {
    display: none !important;
}
